{% extends 'base.html' %}
{% block content %}

<h1>OOH Marketing</h1>

	<div id="add_listing">
        <h1>New Listing Form</h1>
        <form action="/process_new_listing" method="POST">
            Business Name<br>
            <input type="text" name="business" required><br>

            Phone<br>
            <input type="text" name="phone" required><br>

            Address<br>
            <input type="text" name="address" required><br>

            Zipcode<br>
            <input type="text" name="zipcode" required><br>

            Advertisement Space Dimensions:<br>
            Height: <input type="text" name="height" required><br>
            Width: <input type="text" name="width" required><br>

            Photo<br>
            <input type="text" name="photo"><br>

            Description<br>
            <input type="text" name="description">

            <br>
            <br>
            <input type="submit" name="add_user">
        </form>
	</div>
    


{% endblock %}
