
{% extends 'base.html' %}
{% block content %}


<button onclick="window.location.href='/account_info'">View Account Info</button>

<div id="logout_user">
<button onclick="window.location.href='/logout'">Logout</button>
	</div>

<h1>OOH Marketing</h1>

      <h1>Search by Zipcode</h1>

	  <form action="/search_zipcode" method="GET">
	  	<label>Enter zipcode:
	  	<input type="text" name="zipcode"></input></label>
	  	<input type="submit" value="Submit">
	  </form>


	<br>
	<br>
	<br>
	<br>
	<h1>Create a Listing</h1>

	<button onclick="window.location.href='/new_listing'">Create A New Listing!</button>





{% endblock %}