{% extends 'base.html' %}
{% block content %}

<h1>OOH Marketing</h1>



<button onclick="window.location.href='/new_user'">Create An Account</button>
<br>
<button onclick="window.location.href='/new_listing'">Create A Listing</button>


<div id="login_user">
        <h1>Login: </h1>
        <form action="/process_login" method="POST">

            Email<br>
            <input type="text" name="email" required><br>

            Password<br>
            <input type="text" name="password" required><br>

            <br>
            <input type="submit" name="login_user">
        </form>
	</div>



    

<h2>Users</h2>
<p><a href="/view_users">View all users</a></p>

<h2>Listings</h2>
<p><a href="/view_listing">View all listings</a></p>

{% endblock %}

