<!-- this will be a generic page that will be populated with whatever listing_id infor the user clicks on.... -->

{% extends 'base.html' %}
{% block content %}
  <h1>Listing Info</h1>


        <div class="col-xs-6">
        <div id="profile-pic">    

            <form enctype="multipart/form-data">
            <div id="update-pic" class="form-group file-container" hidden>
            <label class="btn btn-info btn-file">
                    
                    Browse <input id="user-photo" type="file" style="display: none;" name="file">
            </label>
                <input type="button" id="upload-pic" value="Upload" class="btn btn-info">
            </div>
            </form>
        </div>
        </div>
<br>
<img src='{{ listing_owner_photo }}' width="50%" height="50%" />

<img src='/static/img/Shenas_thrift_wall.jpg' width="50%" height="50%" />

  <div> 
    <h2>Basic Info: </h2>
    <ul>
        <li>
              <a href="/listing/{{ listing.listing_id }}">
                {{ user.email }} {{ user.user_id }}
              </a>
        </li>
    </ul>
            Photo<br>


            Business Name:<br>
            {{ listing.business }}<br><br>

            Phone:<br>
            {{ listing.phone }}<br><br>

            Address:<br>
            {{ listing.address }}<br><br>

            Advertisement Space Dimensions:<br>
            Height: {{ listing.height_max }}<br>
            Width: {{ listing.width_max }}<br><br>

            Price<br>
            $ {{ listing.price }} / month<br><br>

  </div>


 <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click to See Listing Space </button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">


                        <!-- Modal content-->

                        <div class="modal-content" style="background-image: url('/static/img/Shenas_thrift_wall.jpg'); background-size: cover;"> 
                          <!-- search css terms for forground image -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                          </div>
                          <div class="modal-body">
                            <p>Some text in the modal.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Click to Show Your Ad on Listing</button>
                           <!--  JS event listener to add the other image to foreground when button clicked -->
                          </div>
                        </div>

                      </div>
                    </div>


<!-- SOMEWHERE  on this page there will be a CALENDAR API that show availability -->



	<div>
        <h1> Select This Listing</h1>
        <form action="/process_booking" id="calendar-form" method="POST">

              Start Date:
                <select name="start_date" id="start_date">
                  <option value="may17">May 2017</option>
                  <option value="june17">June 2017</option>
                  <option value="july17">July 2017</option>
                  <option value="august17">August 2017</option>
                  <option value="september17">September 2017</option>
                  <option value="october17"17>October 2017</option>
                  <option value="november17">November 2017</option>
                  <option value="december17">December 2017</option>
                  <option value="january18">January 2018</option>
                </select>


              End Date:
                <select name="end_date" id="end_date">
                   <option value="july17">July 2017</option>
                  <option value="august17">August 2017</option>
                  <option value="september17">September 2017</option>
                  <option value="october17"17>October 2017</option>
                  <option value="november17">November 2017</option>
                  <option value="december17">December 2017</option>
                  <option value="january18">January 2018</option>
                  <option value="february18">February 2018</option>
                  <option value="march18">March 2018</option>
                  <option value="april18">April 2018</option>
                  <option value="may18">May 2018</option>
                </select>


                <br> Price<br>
            $ {{ listing.price }} / month<br><br>

                <input type="submit" id="calc-months" class="btn btn-primary input-sm"><br><br>
                <label>Total Price for months selected: $  </label> <span id="rent-price-result" data-listing-price="{{ listing.price }}" name="rent-price-result">&nbsp;</span>


    </form>
            <br>

            <h2> Ad Dimensions: </h2> <br>
            <label> Height:<input type="text" size="5" name="ad_height" id="ad-height" required>ft </label> <br>
            <label> Width:<input type="text" size="5" name="ad_width" id="ad-width" required>ft </label> <br> <br>


            <input type="submit" id="book_listing" name="book_listing" class="btn btn-primary input-sm" value="Book!"> <br><br>

      </form>

 	        
	</div>

<script src="http://code.jquery.com/jquery.js"></script>

<script src="/static/js/booking.js"></script>



{% endblock %}