<!-- this will be a generic page that will be populated with whatever listing_id infor the user clicks on.... -->

{% extends 'base.html' %}
{% block content %}

  <h1>Listing Info</h1>

  <div>
            
            <h2>Basic Info: </h2>
    <ul>
      {% for listing in listings %}
          <li>
              <a href="/listings/{{ listings.listing_id }}">
                {{ user.email }} ({{ user.user_id }})
              </a>
          </li>
      {% endfor %}
    </ul>



            Business Name<br>
            <input type="text" name="business" required><br>

            Phone<br>
            <input type="text" name="phone" required><br>

            Address<br>
            <input type="text" name="address" required><br>

            Zipcode<br>
            <input type="text" name="zipcode" required><br>

            Advertisement Space Dimensions:<br>
            Height: <input type="text" name="height" required><br>
            Width: <input type="text" name="width" required><br>

            Photo<br>
            <input type="text" name="photo"><br>

            Description<br>
            <input type="text" name="description">

            <br>
            <br>


<!-- SOMEWHERE  on this page there will be a CALENDAR API that show availability -->


	<div>
        <h1> Select This Listing</h1>
        <form id="book-listings">

            Date Range: <br>
            Start:<input type="text" size="2" name="start_date" id="start_date" required>
            End:<input type="text" size="2" name="end_date" id="end_date" required><br>
            <br>

            Ad Dimensions: <br>
            Height:<input type="text" size="2" name="ad_height" id="ad-height" required>
            Width:<input type="text" size="2" name="ad_width" id="ad-width" required><br>


            <br>
            <br>
            <br>

            Price:<br>
            Total to book: $
            <span id="result">&nbsp;</span>
            <br>
 	        <input type="submit" id="book_listing" name="book_listing" class="btn btn-primary input-sm" value="Book!">
           
        </form>


	</div>
<!-- <script src="http://code.jquery.com/jquery.js"></script> -->
<script src="static/js/booking.js"></script>

<!-- 
 When the advertiser selects to BOOK listing -  a pop up will show that says "Owner has been notified of you interest in this booking from date range : ____ to _____. They will confirm/deny within 1-2 days. Once the cinfirmation in selected YOU will receive an email with their contact information to complete the transaction." 
 
 CANCEL BOOKING REQUEST
 START A NEW SEARCH
 RETURN TO LIST OF LISTINGS PAGE
 ACCOUNT INFO
 -->

{% endblock %}