{% extends 'base.html' %}
{% block head %}

  <h1>Listings by Zipcode</h1>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBywdmqR6C_Nc1Cq0BS65r4KX0Ai2AUZ14"></script>
   <!--  <script src="https://code.jquery.com/jquery.js"></script> -->
   <!--  <script src="/static/js/mapstyles.js"></script> -->
    <style> #diana-map {height:500px; width:500px;} </style>
    <script src="/static/js/map.js"></script>

{% endblock %}


{% block content %}


      <!-- first text the above and make sure in source that all dizs are showing for data -->

    {% for listing in zipcode_listings %}
      <div id=listing{{ listing.listing_id }}  class=marker-div data-business={{ listing.business }} data-address={{ listing.address }} data-lat={{ listing.lat }} data-lng={{ listing.lng }}></div> 

          <script>  
              var lat = $('#listing{{ listing.listing_id }}').data('lat');
              var lng = $('#listing{{ listing.listing_id }}').data('lng');
       
              var marker = new google.maps.Marker( {
                  location : {lat: lat , lng: lng},
                  map : map
                  })
          </script>

    {% endfor %}








    <div id="diana-map" ></div>
<!-- 

    <div id="search_listings">
        <h1> Filter Your Search</h1>
        <form action="/refine_search" method="GET">
            Price Range:<br>
            Min<input type="text" name="min_price" required>
            Max<input type="text" name="max_price" required><br>
            <br>

            Date Range: <br>
            Start:<input type="text" name="start_date" required>
            End:<input type="text" name="end_date" required><br>
            <br>

            Ad Dimensions: <br>
            Height:<input type="text" name="ad_height" required>
            Width:<input type="text" name="ad_width" required><br>

            <br>
            <br>
            <input type="submit" name="refine_search">
        </form>
  </div> -->


  <div>
    <h1> Filter Your Search</h1>
        <form id="refine-search">

            Price Range: <br>
            Min:<input type="text" size="2" name="min_price" id="min_price" required>
            Max:<input type="text" size="2" name="max_price" id="max_price" required><br>
            <br>

            Date Range: <br>
            Start:<input type="text" size="2" name="start_date" id="start_date" required>
            End:<input type="text" size="2" name="end_date" id="end_date" required><br>
            <br>

            Ad Dimensions: <br>
            Height:<input type="text" size="2" name="ad_height" id="ad-height" required>
            Width:<input type="text" size="2" name="ad_width" id="ad-width" required><br>

            <br>
            <span id="result">&nbsp;</span>
       <!--      RESULTS this time will NOT be a BOX but will make the MAP MARKERS CHANGE! -->
            <br>
          <input type="submit" id="filter_search" name="filter_search" class="btn btn-primary input-sm" value="Filter">
           
        </form>


  </div>
<!-- <script src="http://code.jquery.com/jquery.js"></script> -->
<script src="static/js/map-refine.js"></script>

    
    I want for the page to dynamically show the listings information..... 
    - or - 
    I can jst show a huge map with info in the Hover Over markers... 



{% endblock %}
