
{% extends 'base.html' %}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBywdmqR6C_Nc1Cq0BS65r4KX0Ai2AUZ14"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
   <!--  <script src="/static/js/mapstyles.js"></script> -->
    <style> #diana-map {height:500px; width:500px;} </style>
    <script src="/static/js/map.js"></script>

{% block content %}


<button onclick="window.location.href='/account_info'">View Account Info</button>

<div id="logout_user">
<button onclick="window.location.href='/logout'">Logout</button>
	</div>

 <div id="diana-map" ></div>

 

<h1>OOH Marketing</h1>

     <h1>Listings</h1>
      <h2> Select a Zipcode: </h2>

       <form action="/search_zipcode" method="GET">
            <label>Enter zipcode:
            <input type="text" name="zipcode"></input></label>
            <input type="submit" value="Submit" id="zipcode">
          </form>

         




{% endblock %}